header
  section
    if title
      h1
        a(href='/') exquisite texts
        |  #{title}
    else
      a(href='/')
        h1 exquisite texts
    p(class='prompt') text
      span  +1 (718) 404-9006
      |  and write some damn poetry
