extends layout

block content
  include ./includes/header.jade

  p construct a poem through text messages by only knowing the previous line of the poem. get a link to your creation when it reaches critical mass.
  ol
    li text the number above with the next line to continue the current poem
    li text 'LAST' to the number above to get the previous line of the current poem
  p this is an exquisite corpse experiment made by #[a(href='//janekim.me') jane] and powered by express, twilio, and digital ocean. leave feedback with a #[a(href='https://github.com/janecakemaster/exquisitetexts/issues/new') github issue]. 
  p if you like this experiment, check out #[a(href='https://github.com/creativecodenyc/exquisitecode') exquisite code], an exquisite corpse for code
