doctype html
html
  include ./includes/head.jade
  body
    block content
    script(type='text/javascript', src='https://cdn.firebase.com/js/client/2.3.2/firebase.js')
    script(type='text/javascript', src='/javascripts/app.min.js')
