extends layout

block content
  include ./includes/header.jade

  section(class='poem')
    h2(class='poem_title') #{poemid}
    h3(class='timestamp') completed at
      time  #{time}
    each line in poem
      p= line

  include ./includes/pager.jade
