html {
    font-family: 'Crimson Text', 'Garamond', serif;
    font-size: 20px;

    width: 100%;

    color: #0a0a0a;
    background: #fcfcfc;
}

body {
    padding: 8px;
}

a, a:visited {
    cursor: pointer;
    transition: all linear .3s;
    text-decoration: none;

    color: #e50622;
}

a:hover, a:focus {
    color: #0692e5;
}

p {
    font-size: 1rem;
    line-height: 1;

    margin: 0;
}

h1, h2, h3, h4 {
    font-weight: 800;
}

h1 {
    margin: 0 0 10px 0;
}

.current h4 {
    margin: 0;

    color: #474747;
}

section {
    padding: 20px 0;
}

.current, .poem {
    border-top: 1px solid gray;
}

.poem h2, .poem h3 {
    margin: 0;
}

.poem_title {
    color: #e50622;
}

.prompt {
    font-size: 1.4rem;
}

.prompt span {
    font-weight: 700;

    letter-spacing: -1px;
}

footer {
    margin-top: 100px;
}

.timestamp {
    font-size: .7rem;
    color: #6D6D6D;
}