html {
    font-family: 'Crimson Text', 'Garamond', serif;
    font-size: 20px;

    width: 100%;
}
body {
    padding: 8px;
}

a, a:visited {
    color: #E50622;
    text-decoration: none;
    cursor: pointer;
}

p {
    font-size: 1rem;
    line-height: 1;

    margin: 0;
}

h1, h2, h3, h4 {
    font-weight: 800;
}

h1 {
    margin: 0 0 10px 0;
}

.current h4 {
    margin: 0;
}

#lastline {
    display: inline;
}

section {
    padding: 20px 0;
}

.current, .poem {
    border-top: 1px solid gray;
}

.poem h2, .poem h3 {
    margin: 0;
}

.poem_title {
    color: #E50622;
}

.prompt {
    font-size: 1.4rem;
}

.prompt span {
    font-weight: 700;
}

footer {
    margin-top: 100px;
}