
html{
    font-family: 'Crimson Text', 'Garamond', serif;
    font-size: 20px;
    width: 100%;
}
body {
    padding: 8px;
  
}

p {
    font-size: 1rem;
    line-height: 1;

    margin: 0;
}

h1, h2, h3, h4 {
    font-weight: 800;
}

.current h4 {
  display: inline;
}
#lastline {
  display: inline;
}